/* Genel Sayfa Stilleri */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Discord Sunucuları Listesi */
#discord-servers {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#discord-servers ul {
    list-style-type: none;
    padding: 0;
}

#discord-servers ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#discord-servers ul li a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    font-size: 1.2em;
}

#discord-servers ul li a:hover {
    color: #45a049;
    text-decoration: underline;
}

/* Son Liste Elemanı */
#discord-servers ul li:last-child {
    border-bottom: none;
}
